app/tmp/*
*.DS_Store
/.DS_Store
app/tmp/*/*
.DS_Store

.DS_Store

app/.DS_Store

.DS_Store

app/tmp/cache/models/cake_model_default_buzz_list

app/tmp/cache/models/cake_model_default_questions

app/tmp/cache/models/cake_model_default_scores

app/tmp/cache/.svn/entries

app/tmp/.DS_Store

*.log

app/views/.DS_Store

*.log

app/tmp/logs/debug.log

app/tmp/logs/debug.log

*.log

*.netbeans-base

app/webroot/.DS_Store

app/webroot/.DS_Store

app/webroot/img/.DS_Store

app/webroot/img/.DS_Store
